redmine:
  # Redmine installation directory.
  directory: /home/redmine/redmine
  # URL of the branch/tag to checkout.
  svn_url: https://svn.redmine.org/redmine/branches/3.3-stable
  user: redmine
  group: redmine
  use_unicorn: true
  config:
    # These dictionaries are written to the respective config/*.yml file:
    configuration:
      default:
          email_delivery:
            delivery_method: :sendmail
    database:
      production:
        adapter: mysql2
        database: redmine
        host: localhost
        username: redmine
        password: test
        encoding: utf8
