{% import_yaml 'redmine/defaults.yaml' as defaults %}
{% import_yaml 'redmine/osmap.yaml' as osmap %}

{%- set defaults = salt['grains.filter_by'](defaults,
    default='redmine',
    merge=salt['grains.filter_by'](osmap, grain='os_family',
      merge=salt['pillar.get']('redmine:lookup', default={})
    )
) %}

{# merge the actual redmine pillar into the above combined dict #}
{% set redmine = salt['pillar.get']('redmine', default=defaults, merge=True) %}

{% if redmine.get('instances') %}
{%  set instances = [] %}
{%  for instance in redmine.instances %}
{%   do instances.append(salt.defaults.merge(redmine, instance, in_place=False)) %}
{%  endfor %}
{% else %}
{%  set instances = [redmine] %}
{% endif %}
