# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'redmine/defaults.yml' as defaults %}
{% import_yaml 'redmine/osmap.yml' as osmap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.redmine.update(osfam) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('redmine:lookup',
                                   default=defaults.redmine,
                                   merge=True) %}

{# merge the actual redmine pillar into the above combined dict #}
{% set redmine = salt['pillar.get']('redmine', default=lookup, merge=True) %}
